/* Reset básico (tira as margens padrão do navegador) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212; /* Fundo escuro gamer */
    color: white;
}

/* Estilo do Cabeçalho */
header {
    display: flex; /* Coloca itens lado a lado */
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1e1e1e;
    border-bottom: 3px solid #00ff88; /* Linha neon verde */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #00ff88; /* Cor neon no "GAMES" */
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.botao-login {
    background-color: #00ff88;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Estilo do Destaque (Hero) */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to bottom, #1e1e1e, #121212);
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #8a2be2; /* Roxo neon */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilo dos Produtos */
.jogos-container {
    padding: 50px;
    text-align: center;
}

.grade-jogos {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaço entre os cards */
    margin-top: 30px;
}

.card-jogo {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    border: 1px solid #333;
}

.card-jogo:hover {
    transform: scale(1.05); /* Aumenta um pouco ao passar o mouse */
    transition: 0.3s;
    border-color: #00ff88;
}

.foto-jogo {
    font-size: 50px;
    margin-bottom: 15px;
}

.preco {
    color: #00ff88;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #777;
    margin-top: 50px;

    /* --- ESTILO DO CARRINHO DE COMPRAS --- */

#carrinho-container {
    color: white; /* Cor do ícone do carrinho */
    font-size: 20px;
    margin-right: 20px; /* Espaço para separar do botão Login */
    font-weight: bold;
    display: inline-block; /* Garante que fique na linha */
}

#contagem-carrinho {
    background-color: #ff0055; /* A bolinha vermelha/rosa */
    color: white;
    padding: 2px 8px; /* Tamanho da bolinha */
    border-radius: 50%; /* Deixa a borda redonda */
    font-size: 14px;
    vertical-align: top; /* Joga o número um pouquinho pra cima */
    margin-left: 5px;
}
}